@model DarulAman.Models.tbl_SchoolRegistration

@{
    ViewBag.Title = "Details";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p class="heading" align="center">Marriage Registration</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            FIRST_NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            LAST_NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            CONTACT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACT)
        </dd>

        <dt>
            EMAIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            GENDER
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

        <dt>
            ORIGIN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORIGIN)
        </dd>

        <dt>
            ADDRESS
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            GUARDIAN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUARDIAN)
        </dd>

        <dt>
            COURSE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COURSE)
        </dd>
        <dt>
            STATUS
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            MESSAGE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>

        <dt>
            DATE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE)
        </dd>

    </dl>
</div>
<div align="center">
    <button class="indexback">@Html.ActionLink("Back to List", "Index") </button> |
    <a href="@Url.Action("Edit", "tbl_Book", new { id = Model.SCHOOL_ID })" class="custombtn">Edit</a>

