@using DarulAman.Models
@model IEnumerable<DarulAman.Models.tbl_Team>
@{
    Model1 db = new Model1();
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><br /> <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("About","Home")">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="../../Content/Customer/img/moon-light-shine-through-window-into-islamic-mosque-interior (1).jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>Under Maintenance</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Under Maintenance
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Under Maintenance
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start
<div class="facts" data-parallax="scroll" data-image-src="~/Content/Customer/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                        <p>Volunteers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                        <p>Our Goal</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">5000</h3>
                        <p>Raised</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Under Maintenance</h2>
        </div>

        <div class="row">
            @foreach (var item in db.tbl_Team.ToList())
            {
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="@Url.Content(item.PICTURE)" />
                        </div>
                        <div class="team-text">
                            <h2>@item.FIRST_NAME @item.LAST_NAME</h2>
                            <p>@item.PROFESSION</p>
                            <p1>@item.RESPONSIBILITIES</p1><br />
                            <p1>@item.LANGUAGES</p1><br />
                            <p1>@item.ORIGIN</p1>


                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>