@model IEnumerable<DarulAman.Models.tbl_Event>
@using DarulAman.Models
@{
    Model1 db = new Model1();
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Upcoming Events</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Event","Home")">Events</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Event Start -->
<div class="event">
    <div class="container">
        <div class="section-header text-center">
            <p></p>
            <h2> Upcoming Events </h2>
        </div>
        @if (db.tbl_Event.Count() > 0)
        {
            <div class="row">

                @foreach (var item in db.tbl_Event.ToList())
                {
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="@Url.Content(item.EVENT_PICTURE)">
                            <div class="event-content">
                                <div class="event-meta" style="width:40%">
                                    <p><i class="fa fa-calendar-alt"></i>@DateTime.Parse(item.EVENT_DATE.ToString()).ToShortDateString()</p>
                                    <p><i class="far fa-clock"></i>
                               @DateTime.Parse(item.TIME_TO.ToString()).ToShortTimeString()-@DateTime.Parse(item.TIME_FROM.ToString()).ToShortTimeString()</p>
                                    <div class="text-lowercase">
                                        <h7><i class="fa fa-map-marker-alt embed-responsive"></i>@item.ADDRESS</h7>
                                    </div>
                                </div>
                                <br /><div class="event-text">
                                    <h3>@item.EVENT_NAME</h3>
                                    <br />
                                    <p>@item.EVENT_DESCRIPTION</p>

                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        }
        else
        {

            <center>
                <h1><b style="color:#FDBE33">No Event Exist Yet</b></h1>
            </center>

        }

    </div>
</div>
