@using DarulAman.Models
@model IEnumerable<DarulAman.Models.tbl_Event>
@{
    Model1 db = new Model1();
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!---------------Scripting function-------------------->
<script type="text/javascript">
    function funvalid() {
        var e = document.getElementById("idfor").value;
        var m = document.getElementById("message");
        if (e <= 14) {
            m.innerText = "Successful";
            m.style.color = "Green";
            return true;
        }
        else {

            m.innerText = "ID must be less than 14 digits";
            m.style.color = "Red";
        }
    }
</script>
<!---------------Scripting function-------------------->
@*<div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                @foreach (var item in db.tbl_Slider.ToList())
                {
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="@Url.Content(item.SLIDER_PICTURE)" style="width:100%; height: 100%" />
                        </div>
                        <div class="carousel-text">
                            <div class="container">

                                <p style="color: #FDBE33;  margin-top: 4rem;  "><b>@item.SLIDER_DETAIL1</b></p>
                                <p>
                                    @item.SLIDER_DETAIL2
                                </p>
                                <p><b>@item.REFERENCE</b></p>
                            </div>
                            <div class="carousel-btn " style="scroll-margin-bottom:unset">
                                <a class="btn btn-custom btn-m" href="https://gofund.me/e25a0e41">GoFundMe</a>

                            </div>

                        </div>

                    </div>

                }

            </div>
        </div>
    </div>*@
<!-- Carousel End -->
<!-- Carousel Start -->

    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                @foreach (var item in db.tbl_Slider.ToList())
                {<div class="carousel-item">
                        <div class="carousel-img">
                            <img src="@Url.Content(item.SLIDER_PICTURE)" alt="Image" style="width:100%" />
                        </div>
                        <div class="carousel-text text-center">
                            <div class="conatiner texte-center"></div>
                            <h3 style="color: #FDBE33; margin-top: 4rem;" class="conatiner title"><b>@item.SLIDER_DETAIL1</b></h3>
                            <p>
                                @item.SLIDER_DETAIL2
                            </p>
                            <p><b>@item.REFERENCE</b></p>
                            <div class="carousel-btn">
                                <a class="btn btn-custom btn-m" href="https://gofund.me/e25a0e41">GoFundMe</a>
                            </div>
                        </div>
                    </div>
                }
                </div>
        </div>
    </div>

    <!-- Carousel End -->
    <!-- Video Modal Start-->
    <!--<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
    <!-- 16:9 aspect ratio -->
    <!--<div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Prayer -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-header">
                    <div class="section-header text-center">
                        <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                        <iframe title="Prayer Timing" class="prayerbox" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/2874545/shafi/6/0/13/13" data-dashlane-frameid="1122"> </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Prayer -->
    <!--<div class="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="Content/Customer/img/Picture.png" />-->
    @*<div class="about-img" data-parallax="scroll" data-image-src="../../Content/Customer/img/Picture.png">

        </div>*@

    <!--</div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <p>Learn About Us</p>
                        <h2>Project Plan (Milestones/Goals)</h2>
                    </div>
                    <div class="about-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                            </li>

                        </ul>

                        <div class="tab-content">
                            <div id="tab-content-1" class="container tab-pane active">
                                Under Maintenance
                            </div>
                            <div id="tab-content-2" class="container tab-pane fade">
                                Under Maintenance
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- About End -->
    <!-- About Start -->
    <div class="about">
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Content/Customer/img/Darul Aman PNG.png" class="img-responsive" style="height:800px; max-height: 800px; min-height:700px;width:100%;max-width:400px; min-width:300px; align-content:center;align-self:center" />
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">

                            <h2>Project Plan </h2>
                        </div>
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                                </li>

                            </ul>

                            <div class="tab-content">
                                <div id="tab-content-1" class="container tab-pane active">
                                    <div class="card-body conatiner" style=" margin: 5px 12px 5px 12px">
                                        <ul class="text align-content-center" style="list-style:none;">
                                            <li>
                                                <h6 style="color:black">
                                                    Darul Aman is an islamic centre in Magdeburg, a city in East Germany and also the capital of the state Saxony Anhalt.
                                                </h6>
                                            </li>
                                            <li>
                                                <b> What is Islam?</b>
                                            </li>
                                            <li>
                                                Islam comprises of the following:

                                            </li>
                                        </ul><ol class="text align-content-center" style="list-style:circle;">
                                            <li>
                                                <b style="color:#FDBE33">Faith (ايمانيات):</b>  Belief that our success is only and only in following the orders of Allah (Quran) and the ways of Muhammad (صلى الله عليه وسلم) (Sunnah).

                                            </li>
                                            <li>
                                                <b style="color:#FDBE33">Prayer and worship (عبادات):</b>
                                                <ol class="text align-content-center">
                                                    <li>
                                                        Five times of prayer

                                                    </li>
                                                    <li> Fasting in Ramadan</li>
                                                    <li> Paying Zakat and</li>
                                                    <li>

                                                        Performing the Hajj.
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                <b style="color:#FDBE33">Ethics (اخلاقيات) :</b>    Working on our innerself i.e., keeping our mind and heart  away from bad thinking, wishes and desires.



                                            </li>
                                            <li>
                                                <b style="color:#FDBE33">Social System (معاشرت) :</b> Building up a prosperous، happy and healthy society. Helping and supporting the whole creation of Allah (all living beings).

                                            </li>
                                            <li>
                                                All of the above are strongly interconnected to one another and Darul Aman is and will be the place to learn and practice all these.

                                                <h6>  <b>Our Moto:</b></h6>
                                                Learn by practicing and practice by learning.
                                            </li>
                                        </ol>

                                    </div>
                                </div>
                                <div id="tab-content-2" class="container tab-pane fade">

                                    <div class="card-body conatiner" style="margin: 5px 12px 5px 12px">
                                        <h5>Goal-1</h5>
                                        <ol class="align-content-center" style="list-style:none;">
                                            <li>Masjid</li>
                                            <li> Quran and Hadith lessons (men and women)
                                            <li/>
                                            <li> Voluntary service</li>

                                        </ol>

                                        <h5>Goal-2</h5>
                                        <ol class="align-content-center" style="list-style:none;">
                                            <li>Madrasah</li>
                                            <li>Islamic school for boys and girls
                                            <li/>
                                            <li> Islamic Library</li>
                                        </ol>
                                        <h5>Goal-3</h5>
                                        <ol class="align-content-center" style="list-style:none;">
                                            <li>Islamic funeral and burial</li>
                                            <li>Islamic marriage (Nikkah)
                                            <li/>
                                            <li> Darul Aman Marriage Bureau</li>
                                        </ol>
                                        <h5>Goal-4</h5>
                                        <ol class="align-content-center" style="list-style:none;">
                                            <li>Prayer rooms in Muslim-majority districts </li>
                                            <li>Sports hall for men and women, boys and girls
                                            <li/>
                                            <li> Halal slaughterhouse</li>
                                        </ol>
                                        <h5>Goal-5</h5>
                                        <ol class="align-content-center" style="list-style:none;">
                                            <li>Free bus service for differently abled people to be picked up and dropped off at Darul Aman</li>
                                            <li>Other projects discussed in Darul Aman meetings
                                            <li/>
                                        </ol>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- SubProjects Start -->
    <div class="team1">
        <div class="container">
            <div class="section-header text-center">
                <p style="color:#4a4c70">What We Do?</p>
                <h2>Sub Projects</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Content/Customer/img/06.png" class="img-responsive" style="width:100%;height:350px" />

                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Quran & Hadith</h2>
                            <a href="@Url.Action("Teaching","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">

                            <img src="~/Content/Customer/img/07.png" class="img-responsive" style="width:100%;height:350px" />
                            @*<img src="~/Content/Customer/img/Islamic School.png" />*@
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Islamic School</h2>
                            <a href="@Url.Action("School","Home")" class="btn btn-custom">View Detail</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Content/Customer/img/08.png" class="img-responsive" style="width:100%;height:350px" />
                            @*<img src="~/Content/Customer/img/Translation services.png" />*@
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Translation Services</h2>
                            <a href="@Url.Action("Translation","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            @*<img src="~/Content/Customer/img/Funeral.png" />*@
                            <img src="~/Content/Customer/img/03.png" class="img-responsive" style="width:100%;height:350px" />
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Funeral</h2>
                            <a href="@Url.Action("Funeral","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-----------------next row-->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            @*<img src="~/Content/Customer/img/Marriage.png" />*@
                            <img src="~/Content/Customer/img/1.png" class="img-responsive" style="width:100%;height:350px" />
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Marriage Ceremony</h2>
                            <a href="@Url.Action("Marriage","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            @*<img src="~/Content/Customer/img/Slaughter Haus.png" />*@
                            <img src="~/Content/Customer/img/02.png" class="img-responsive" style="width:100%;height:350px"/>
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Halah Slaughter House</h2>
                            <a href="@Url.Action("Slaughterhouse","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Content/Customer/img/04.png" class="img-responsive" style="width:100%;height:350px" />
                            @*<img src="~/Content/Customer/img/Gym.png" />*@
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">GYM</h2>
                            <a href="@Url.Action("Gym","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="~/Content/Customer/img/09.png" class="img-responsive" style="width:100%;height:350px"/>
                        </div>
                        <div class="team-text teamblocktextproject">
                            <h2 style="color: #4a4c70">Islamic Library</h2>
                            <a href="@Url.Action("Library","Home")" class="btn btn-custom">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------SubProject End-------------->
    <!-- Facts Start
    <div class="facts" data-parallax="scroll" data-image-src="~/Content/Customer/img/facts.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-home"></i>
                        <div class="facts-text">
                            <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                            <p>Countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-charity"></i>
                        <div class="facts-text">
                            <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                            <p>Volunteers</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-kindness"></i>
                        <div class="facts-text">
                            <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                            <p>Our Goal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-donation"></i>
                        <div class="facts-text">
                            <h3 class="facts-dollar" data-toggle="counter-up">5000</h3>
                            <p>Raised</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
    <!-- Causes Start -->
    <!-- Event Start -->
    <div class="event">
        <div class="container">
            <div class="section-header text-center">
                <p></p>
                <h2> Upcoming Events </h2>
            </div>
            @if (db.tbl_Event.Count() > 0)
            {
                <div class="row">

                    @foreach (var item in db.tbl_Event.ToList())
                    {
                        <div class="col-lg-6">
                            <div class="event-item">
                                <img src="@Url.Content(item.EVENT_PICTURE)">
                                <div class="event-content">
                                    <div class="event-meta" style="width:40%">
                                        <p><i class="fa fa-calendar-alt"></i>@DateTime.Parse(item.EVENT_DATE.ToString()).ToShortDateString()</p>
                                        <p><i class="far fa-clock"></i> @DateTime.Parse(item.TIME_TO.ToString()).ToShortTimeString()-@DateTime.Parse(item.TIME_FROM.ToString()).ToShortTimeString()</p>
                                        <div class="text-lowercase">
                                            <h7><i class="fa fa-map-marker-alt embed-responsive"></i>@item.ADDRESS</h7>
                                        </div>
                                    </div>
                                    <br /><div class="event-text">
                                        <h3>@item.EVENT_NAME</h3>
                                        <br />
                                        <p>@item.EVENT_DESCRIPTION</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            }
            else
            {

                <center>
                    <h3 style="color:#4a4c70"><b>Coming Soon</b></h3>
                </center>

            }

        </div>
    </div>
    <!-- Event End -->
    <!-- Donate Start
    <div class="donate" data-parallax="scroll" data-image-src="~/Content/Customer/img/donate.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Support Us</p>
                            <h2> Under Maintenance</h2>
                        </div>
                        <div class="donate-text">
                            <p>
                                Under Maintenance
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="donate-form">
                        <form action="/Home/Donate" method="post">
                            <div class="control-group">
                                <input type="text" class="form-control" autocomplete="off" name="FIRST_NAME" id="fname" placeholder="First Name" required="required" />
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" autocomplete="off" name="LAST_NAME" id="lname" placeholder="Last Name" required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" autocomplete="off" name="EMAIL" id="email" placeholder="Email" required="required" />
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" autocomplete="off" name="AMOUNT" id="amount" placeholder="Amount" required="required" />
                            </div>
                            <div class="control-group">
                                <p class="color-word">Payment *</p>
                                <div>

                                    <input type="radio" id="credit" class="custom-radio2 " name="Gender" value="Credit" checked>&nbsp;
                                    <label for="credit" class="color-word">Credit</label><br>
                                    <input type="radio" id="debit" name="Gender" class="custom-radio2" value="Debit">&nbsp;
                                    <label for="debit" class="color-word">Debit</label><br>
                                    <input type="radio" id="paypal" name="Gender" class="custom-radio2" value="Paypal">&nbsp;
                                    <label for="paypal" class="color-word">Paypal</label>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit">Support Us</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->
    <!-- Team Start -->
    @*<div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p></p>
                <h2>Meet Our Team</h2>
            </div>

            <div class="row">
                @foreach (var item in db.tbl_Team.ToList())
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="@Url.Content(item.PICTURE)" />
                            </div>
                            <div class="conatiner">
                                <div class="team-text teamblocktext">
                                    <h2>@item.FIRST_NAME @item.LAST_NAME</h2>
                                    <p1>@item.RESPONSIBILITIES</p1><br />
                                    <p1><i class="fa fa-" style="margin-left:3px"></i>@item.PROFESSION</p1>
                                    <br />
                                    <p1>@item.LANGUAGES</p1><br />
                                </div>


                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>*@
    <!-- Volunteer Start -->
    <div class="volunteer">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="volunteer-form">
                        @using (Html.BeginForm("SubmitVolunteer", "Home"))
                        {
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" name="FIRST_NAME" placeholder="First Name" required="required" style="cursor:auto" />
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" name="LAST_NAME" placeholder="Last Name" required="required" style="cursor:auto" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" name="EMAIL" placeholder="Email" required="required" style="cursor:auto" />
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" id="idfor" name="ID" placeholder="ID" required="required" style="cursor:auto" />
                                    <div id="message" style="color:red"></div>
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" name="REASON" placeholder="Why you want to become a volunteer?" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Become a volunteer</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="volunteer-content">
                        <div class="section-header">
                            <h2>Become A Volunteer</h2>
                            <h3 style="color:white"><b>Prophet Muhammad (صلى الله عليه وسلم) advised us:</b></h3>
                            <p> to take advantage of five before five:</p>
                            <p><b>"Take advantage of five maters before five other matters"</b></p>
                            <ol style="color:white">
                                <li>Your youth,before you become old</li>
                                <li>Your health,before you fall sick </li>
                                <li>Your wealth,before you become poor</li>
                                <li>Your free time,before you become busy</li>
                                <li>And your life,before you death</li>
                            </ol>
                            <p>Allah has blessed each human being at least with one of the following: </p>
                            <ul style="color:white">
                                <li>Time</li>
                                <li>Wealth</li>
                                <li>Health</li>
                            </ul>
                        </div>
                        <div class="volunteer-text">
                            <p>
                                If,I have all the above,then I must be more thankful to Allah amd try my best to utilize these in the way(s) described in Quran and Hadith.This is the only way I can be successful in this world and in the life after.
                            </p>
                            <p><u>Darul-Aman</u> is one of the biggest projects and needs people with their prayers(Dua),skills,money,time and much more.</p>
                            <p>Think out of the box and ask yourself<b>"how can I support and be part of this project?"</b></p>
                            <p>If you support this project in a regular basis,then you are considered as the Member of Darul-Aman otherwise a Volunteer</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Volunteer End -->
    <!-- Contact Start -->
    @*<div class="single">
        <div class="container">

            <div class="row">
                <div class=" col-md-12">
                    <div class="form2">
                        <div class="comment-form">
                            <center> <h1 style="color:#FDBE33;">Contact for any query</h1></center><br />


                            <div id="success"></div>
                            <form action="/Home/SubmitContact" method="post">
                                <div class="control-group">
                                    <input type="text" class="form-control" name="FIRST_NAME" placeholder="Your First Name" required="required" data-validation-required-message="Please enter your name" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" name="LAST_NAME" placeholder="Your Last Name" required="required" data-validation-required-message="Please enter your name" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>

                                </div>
                                <div>
                                    <input type="email" class="form-control" name="EMAIL" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>

                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" id="idfor" name="ID" placeholder="Your ID" required="required" onkeypress="return funvalid()" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>
                                    <div id="message" style="color:red"></div>
                                </div>
                                <div class="control-group">
                                    <input type="number" class="form-control" name="CONTACT" pattern="/^[+]?(1\-|1\s|1|\d{3}\-|\d{3}\s|)?((\(\d{3}\))|\d{3})(\-|\s)?(\d{3})(\-|\s)?(\d{4})$/g" placeholder="Your Contact" required="required" style="cursor:auto" />
                                    <div id="message" style="color:red"></div>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <textarea class="form-control" name="MESSAGE" placeholder="Message" required="required" data-validation-required-message="Please enter your message" style="cursor:auto">
                        </textarea>

                                </div> <br />
                                <div>
                                    <button class="btn btn-block btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Contact End -->
