@model IEnumerable<DarulAman.Models.tbl_Team>
@using DarulAman.Models
@{
    Model1 db = new Model1();
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    IEnumerable<DarulAman.Models.tbl_Team> List = db.tbl_Team.AsQueryable().OrderByDescending(s => s.TEAM_ID).Take(4);
}

<!-- Page Header Start -->


<div class="page-header-contact">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Team Member</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Team","Home")">Team</a>
            </div>
        </div>
    </div>
</div>

<!-- Page Header End -->
<!-- Prayer -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                    <iframe title="Prayer Timing" class="prayerbox" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43095460/shafi/1/0/18.0/17.0"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Prayer -->
<div class="causes">
    <div class="container">
        <div class="section-header text-center">
            <p style="color:#4a4c70">About Our Team</p>
            <h2 style="color:#FDBE33">Darul Aman Team Blocks</h2>
        </div>
        <div class="owl-carousel causes-carousel">
            @foreach (var i in List)
            {
                <div class="causes-item">
                    <div class="causes-img">
                       <img src="@Url.Content(i.PICTURE).ToString()" alt="Image" />
                    </div>
                  
                    <div class="causes-text">
                        <h2 style="color: #4a4c70;font-weight:bolder"> <i class="fa fa-user teamusericon"></i> <span> @i.FIRST_NAME @i.LAST_NAME</span></h2>
                        <hr />  <h5 style="color: #4a4c70;"><i class="fa fa-archive teamarchiveicon"></i><span> @i.RESPONSIBILITIES</span></h5>

                        <hr />
                    </div>
                    <div class="text-center">
                        @if (i.RESPONSIBILITIES == "Managing Director")
                        {
                            <div class="conatiner teamtextbox">
                                <ol class="text align-content-center" style="list-style:disclosure-closed;">
                                    <li>
                                        The male director is responsible for the whole organization

                                    </li>
                                    <li>
                                        The female director is only responsible for the women

                                    </li>
                                    <li>
                                        All decisions will only be made after consultation (Mashwara) with the
                                        whole team of the organization
                                    </li>
                                </ol>

                            </div>
                        }
                        else if (i.RESPONSIBILITIES == "Administration")
                        {
                            <div class="conatiner teamtextbox">
                                <ol class="text align-content-center" style="list-style:disclosure-closed;">
                                    <li>
                                        Finance management
                                    </li>
                                    <li>
                                        Managing the website and social media
                                    </li>
                                    <li>
                                        Responding to official letters
                                    </li>
                                    <li>
                                        Organizing the Darul Aman meetings
                                    </li>
                                </ol>

                            </div>
                        }
                        else if (i.RESPONSIBILITIES == "Representatives")
                        {
                            <div class="conatiner teamtextbox">
                                <ol class="text align-content-center" style="list-style:disclosure-closed;">
                                    <li>
                                        Male and female representatives of each nationality
                                    </li>
                                    <li>
                                        Representatives of the students
                                    </li>
                                    <li>
                                        A connection between Darul Aman and their community
                                    </li>
                                </ol>

                            </div>
                        }
                        else if (i.RESPONSIBILITIES == "Member")
                        {
                            <div class="conatiner teamtextbox">
                                <ol class="text align-content-center" style="list-style:disclosure-closed;">
                                    <li>
                                        Membership of the Darul Aman is open to all
                                    </li>
                                </ol>

                            </div>
                        }
                        else
                        {



                        }

                    </div>
                </div>
            }
            </div>
    </div>
</div>

        <!-- Teamblock End -->
        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p style="color: #4a4c70">About Our Team</p>
                    <h2>Meet Darul Aman Team </h2>
                </div>

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="@Url.Content(item.PICTURE)" />
                                </div>

                                <div class="conatiner">
                                    <div class="team-text teamblocktext">
                                        <h2>@item.FIRST_NAME @item.LAST_NAME</h2>
                                        <p1>@item.RESPONSIBILITIES</p1><br />
                                        <p1><i class="fa fa-" style="margin-left:3px"></i>@item.PROFESSION</p1>
                                        <br />
                                        <p1>@item.LANGUAGES</p1><br />
                                    </div>


                                </div>
                            </div>
                        </div>

                    }



                </div>
            </div>
        </div>
        <!---Team End -->
