@using DarulAman.Models
@{
    Model1 db = new Model1();
}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DarulAman</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <link href="~/Content/Customer/img/Logoicon.ico" rel="icon" type="image/png" />
        <style>
            /***prayerbox***/
            .prayerbox {
                padding: 2rem 2rem 2rem 2rem;
                margin: 20px 20px 20px 20px;
                width: 90%;
                height: 450px;
                border: 3px solid #dedede;
                background-image: linear-gradient(#dedede, white);
                box-shadow: 10px 10px revert;
                border-radius: 50px 50px
            }
            /****supporttext**/
            .supporttext {
                color: #FDBE33;
                font-size: xx-large;
               margin-left: 10px;
            }
            /**teamusericon**/
            .teamusericon {
                margin: 15px 18px;
                color:#FDBE33;
                font-weight:bolder;
            }
            /*teamusericon*/
            .teamarchiveicon {
                margin: 15px 18px;
                color: #FDBE33;
            }
            /*teamusericon*/
            .teamusericon {
                margin: 15px 18px;
                color: #FDBE33;
            }
                /**supportli**/
                .supportli {
                    font-size: x-large;
                    color: #4a4c70;
                }
                /*teamtextbox*/
            .teamtextbox {
                border: 2px solid #FDBE33;
                background-color: #f1e9d5;
                box-shadow: 0 5px 5px 0 #FDBE33;
                border-radius: 50px 50px;
                margin: 5px 5px 5px 5px;
                padding: 15px 15px 15px 15px;
            }
            /*teamblocktext*/
            .teamblocktext {
                border: 1px solid #FDBE33;
                background-color: #f1e9d5;
                box-shadow: 0 5px 5px 0 #FDBE33;
            }
             /*teamblocktext*/
            .teamblocktextproject {
                border: 1px solid #FDBE33;
                background-color: #f1e9d5;
                color: #4a4c70;
                box-shadow: 0 5px 5px 0 #FDBE33;
            }
            /*       drop down    */
            .dropdown-menu li {
                position: relative;
                background-color: whitesmoke;
                border-radius: 5px;
            }

            .dropdown-menu .dropdown-submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            }

            .dropdown-menu .dropdown-submenu-left {
                right: 100%;
                left: auto;
            }

            .dropdown-menu li .dropdown-item:hover {
                background-color: #FDBE33;
                color: black;
                font-size: large;
                font-weight: bolder
            }


            .dropdown-menu > li:hover > .dropdown-submenu {
                display: grid;
            }

            body {
                background: #ededed;
                font-family: 'Open Sans', sans-serif;
            }
            /*****community btn**/
            .communitybtn {
                padding: 10px 7px;
                color: #FDBE33;
                font-weight: 800;
            }
            /*navbaritem*/
            .navbaritem {
               padding: 0 0 0 4px;
            }
            /****teamtilte*****/
            .teamtitle{
                font-weight: bold;
                color: #FDBE33;
            }
            /***p***/
            .p {
                margin-top: 0;
                color: #6c757d;
               margin-bottom: 1rem;
            }
            /****teamsubtitle****/
                .teamsubtitle{
            color: black;
            margin: 0px 0px 0px 15px;
            font-size: medium;
            font-family: 'Times New Roman';
            }
            /***** teamtext*****/
            .teamtext {
                margin: 0 18px 0 0;
                color: #4a4c70;
            }
            /**************contactemailblock*******/
            .contactemailblock {
                border: 1px solid #FDBE33;
                background-image: linear-gradient(#FDBE33,#edca7d47,#edca7d47);
                border-radius: 50px 50px;
            }
            /** Custom Select **/
            .custom-select-wrapper {
                position: relative;
                display: inline-block;
                user-select: none;
            }

                .custom-select-wrapper select {
                    display: none;
                }

            .custom-select {
                position: relative;
            }

            .custom-select-trigger {
                position: relative;
                display: block;
                width: 1px;
                padding: 1px 60px 0 2px;
                font-size: 22px;
                font-weight: bold;
                color: black;
                line-height: 30px;
                background: lightgrey;
                border-radius: 2px;
                cursor: pointer;
            }

                .custom-select-trigger:after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 10px;
                    height: 10px;
                    top: 60%;
                    right: 5px;
                    margin-top: -3px;
                    border-bottom: 1px solid #fff;
                    border-right: 1px solid #fff;
                    transform: rotate(45deg) translateY(-50%);
                    transition: all .4s ease-in-out;
                    transform-origin: 50% 0;
                }

            .custom-select.opened .custom-select-trigger:after {
                margin-top: 3px;
                transform: rotate(-135deg) translateY(-50%);
            }

            .custom-options {
                position: absolute;
                display: block;
                top: 100%;
                left: 0;
                right: 0;
                min-width: 100%;
                margin: 15px 0;
                border: 1px solid #b5b5b5;
                border-radius: 4px;
                box-sizing: border-box;
                box-shadow: 0 2px 1px rgba(0,0,0,.07);
                background: #fff;
                transition: all .4s ease-in-out;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transform: translateY(-15px);
            }

            .custom-select.opened .custom-options {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }

            .custom-options:before {
                position: absolute;
                display: block;
                content: '';
                bottom: 100%;
                right: 25px;
                width: 7px;
                height: 7px;
                margin-bottom: -4px;
                border-top: 1px solid #b5b5b5;
                border-left: 1px solid #b5b5b5;
                background: #fff;
                transform: rotate(45deg);
                transition: all .4s ease-in-out;
            }

            .option-hover:before {
                background: #f9f9f9;
            }

            .custom-option {
                position: relative;
                display: block;
                padding: 0 22px;
                border-bottom: 1px solid #b5b5b5;
                font-size: 18px;
                font-weight: 600;
                color: black;
                line-height: 47px;
                cursor: pointer;
                transition: all .4s ease-in-out;
            }

                .custom-option:first-of-type {
                    border-radius: 4px 4px 0 0;
                }

                .custom-option:last-of-type {
                    border-bottom: 0;
                    border-radius: 0 0 4px 4px;
                }

                .custom-option:hover,
                .custom-option.selection {
                    background: #FDBE33;
                }
            /*8888888888888888888888888*/
            #mydiv:hover {
                color: red;
            }
            /***************Login bar*************************/
            #login {
                font-size: 30px;
                color: #2199e8;
               
            }
            /***************hover*************************/
            #option:hover {
                background-color: #FDBE33;
            }

            #mySidenav a {
                position: absolute;
                right: -80px;
                transition: 0.3s;
                padding: 15px;
                width: 130px;
                text-decoration: none;
                font-size: 20px;
                color: white;
                border-radius: 0 5px 5px 0;
            }

                #mySidenav a:hover {
                    right: 0;
                }
        </style>


        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="~/Content/Customer/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="~/Content/Customer/lib/animate/animate.min.css" rel="stylesheet">
        <link href="~/Content/Customer/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="~/Content/Customer/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="fa fa-phone-alt" style="font-size:small"></i>
                                <p style="font-size:small">@db.tbl_Institute.Select(x => x.INSTITUTE_CONTACT).FirstOrDefault()</p>
                            </div>

                            <div class="text">
                                <i class="fa fa-envelope"></i>
                                <p>@db.tbl_Institute.Select(x => x.INSTITUTE_EMAIL).FirstOrDefault()</p>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="top-bar-center">
                            <div>
                                <a href="@Url.Action("GeneralRegistration","Home")" class="embed-responsive">
                                    <input type="button" class="btn btn-link  communitybtn embed-responsive align-content-center text-center text-widget"  value="To meet your Community Click here"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="text">

                                <i class="fa fa-globe fa-caret-down"> </i>
                                <div id="google_translate_element">

                                </div>
                            </div>
                            <div class="text">
                                <i class="fa fa-map-marker-alt"></i>
                                <p>Magdeburg,Germany</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top Bar End -->
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="@Url.Action("IndexCustomer","Home")" class="navbar-brand">
                    <img src="~/Content/Customer/img/WhatsApp Image 2022-12-11 at 10.00.37 PM.jpeg" />

                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="@Url.Action("IndexCustomer","Home")" class="nav-item nav-link ">Home</a>
                        <a href="@Url.Action("Mosque","Home")" class="nav-item nav-link">Mosque</a>
                        <a href="@Url.Action("Prayer","Home")" class="nav-item nav-link">Prayer</a>


                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sub-Projects</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="dropdown-item" data-toggle="dropdown">Darul-Uloom<i class="fa fa-caret-down navbaritem"></i></a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a href="@Url.Action("Teaching","Home")" class="dropdown-item">Teaching Quran & Hadith</a></li>
                                        <li><a href="@Url.Action("School","Home")" class="dropdown-item">Islamic School</a></li>


                                    </ul>
                                </li>

                                <li>
                                    <a href="" class="dropdown-item">Islamic Services<i class="fa fa-caret-down navbaritem"></i></a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li>
                                            <a href="@Url.Action("Translation","Home")" class="dropdown-item">Translation Services</a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("DeadRelative","Home")" class="dropdown-item">Islamic Funeral</a>

                                        </li>
                                        <li><a href="@Url.Action("Marriage","Home")" class="dropdown-item">Marriage Ceremony</a></li>

                                        <li><a href="@Url.Action("Slaughterhouse","Home")" class="dropdown-item">Halal Slaughter House</a></li>
                                        <li>
                                            <a href="@Url.Action("Gym","Home")" class="dropdown-item">GYM</a>

                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="@Url.Action("Library","Home")" class="dropdown-item">Islamic Library<i class="navbaritem"></i></a>

                                </li>
                            </ul>

                        </div>

                        <a href="@Url.Action("Event","Home")" class="nav-item nav-link">Events</a>
                        <a href="@Url.Action("Volunteer","Home")" class="nav-item nav-link">Volunteer</a>
                        <a href="@Url.Action("Team","Home")" class="nav-item nav-link">Team</a>
                        <a href="@Url.Action("About","Home")" class="nav-item nav-link">About</a>
                        <a href="@Url.Action("Contact","Home")" class="nav-item nav-link">Contact</a>
                        <a href="@Url.Action("SupportUs","Home")" class="nav-item nav-link">SupportUs</a>

                        <a href="https://gofund.me/e25a0e41" class="btn btn-warning">GoFundMe</a>
                        <a href="@Url.Action("Login","Home")" id="login" class="nav-item nav-link fa fa-user" title="Admin login"></a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->

        @RenderBody()


        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-contact">
                            <h2>Mosque</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Magdeburg, Germany</p>
                            <p><i class="fa fa-phone-alt"></i>@db.tbl_Institute.Select(x => x.INSTITUTE_CONTACT).FirstOrDefault()</p>
                            <p><i class="fa fa-envelope"></i>@db.tbl_Institute.Select(x => x.INSTITUTE_EMAIL).FirstOrDefault()</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="@Url.Action("About","Home")">About Us</a>
                            <a href="@Url.Action("Contact","Home")">Contact Us</a>
                            <a href="@Url.Action("Event","Home")">Upcoming Events</a>
                            <a href="@Url.Action("Team","Home")">Our Team</a>
                            <a href="@Url.Action("GeneralRegistration","Home")">
                                To meet your community <br />
                                <label style="margin:0 1rem" class="option-hover">Click Here</label>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="@Url.Action("Termsofuse","Home")">Terms of use</a>
                            <a href="@Url.Action("PrivacyPolicy","Home")">Privacy policy</a>

                            <a href="@Url.Action("FAQs","Home")">FAQs</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="@Url.Action("IndexCustomer","Home")">Darul Aman</a>, All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="@Url.Action("About","Home")">PakiExperts </a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer End -->
        <!-- Back to top button -->
        <a href="#" class="back-to-top" style="display: inline;"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/Customer/lib/easing/easing.min.js"></script>
        <script src="~/Content/Customer/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="~/Content/Customer/lib/waypoints/waypoints.min.js"></script>
        <script src="~/Content/Customer/lib/counterup/counterup.min.js"></script>
        <script src="~/Content/Customer/lib/parallax/parallax.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="~/Content/Customer/mail/jqBootstrapValidation.min.js"></script>
        <script src="~/Content/Customer/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="~/Content/Customer/js/main.js"></script>
    </body>
</html>

<script>
    $(".custom-select").each(function () {
        var classes = $(this).attr("class"),
            id = $(this).attr("id"),
            name = $(this).attr("name");
        var template = '<div class="' + classes + '">';
        template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
        template += '<div class="custom-options">';
        $(this).find("option").each(function () {
            template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
        });
        template += '</div></div>';

        $(this).wrap('<div class="custom-select-wrapper"></div>');
        $(this).hide();
        $(this).after(template);
    });
    $(".custom-option:first-of-type").hover(function () {
        $(this).parents(".custom-options").addClass("option-hover");
    }, function () {
        $(this).parents(".custom-options").removeClass("option-hover");
    });
    $(".custom-select-trigger").on("click", function () {
        $('html').one('click', function () {
            $(".custom-select").removeClass("opened");
        });
        $(this).parents(".custom-select").toggleClass("opened");
        event.stopPropagation();
    });
    $(".custom-option").on("click", function () {
        $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
        $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
        $(this).addClass("selection");
        $(this).parents(".custom-select").removeClass("opened");
        $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
    });
</script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
