@using DarulAman.Models
@{
    Model1 db = new Model1();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DarulAman</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <link href="~/Content/Customer/img/Masjidicon.ico" rel="icon" type="image/png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/Customer/css/Customizedstyle.css" rel="stylesheet" />

    <link href="~/Content/Customer/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="~/Content/Customer/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/Customer/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/Customer/css/style.css" rel="stylesheet">
    <style>
        .navlink {
            font-size: smaller;
            color: white;
            font-family: cursive
        }

            .navlink :hover {
                font-size: larger;
                font-weight: bold;
                font-style: italic;
                color: #DFBE00;
                font-family: cursive;
            }
    </style>
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 embed-responsive">
                    <div class="top-bar-left">
                        <div class="text embed-responsive ">
                            <i class="fa fa-phone-alt" style="font-size:small"></i>
                            <p style="font-size:small">@db.tbl_Institute.Select(x => x.INSTITUTE_CONTACT).FirstOrDefault()</p>
                        </div>

                        <div class="text embed-responsive">
                            <i class="fa fa-envelope"></i>
                            <p>@db.tbl_Institute.Select(x => x.INSTITUTE_EMAIL).FirstOrDefault()</p>
                        </div>


                    </div>
                </div>

                <div class="col-md-4 embed-responsive">
                    <div class="top-bar-center embed-responsive">
                        <div class="text-center">
                            <a href="@Url.Action("GeneralRegistration","Home")" class="embed-responsive regular-link">
                                @*<input type="button" class="btn communitybtn btn-link btn-block align-content-center text-center text-widget"  value="To meet your Community Click here"/>*@
                                <button class="communitybtn">To meet your Community Click here </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 embed-responsive">
                    <div class="top-bar-right embed-responsive">
                        <div class="text embed-responsive">
                            <i class="fa fa-globe fa-caret-down"> </i>
                            <div id="google_translate_element"
                                 class="btnresponsive">
                            </div>
                        </div>
                        <div class="text embed-responsive">
                            <i class="fa fa-map-marker-alt"></i>
                            <a href=" https://goo.gl/maps/8ickKsooi4CFXbhk9" class="btnresponsive navlink" style=""><b>Darul-Aman</b> Magdeburg, Germany </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Bar End -->
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="@Url.Action("IndexCustomer","Home")" class="navbar-brand">

                <img src="~/Content/Customer/img/Masjid logo - PNG-01.png" alt="image" />
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="nav navbar-nav ml-auto nav-pills nav-justified ">

                            <a href="@Url.Action("IndexCustomer","Home")" class="nav-item nav-link">Home</a>

                            <a href="@Url.Action("Mosque","Home")" class="nav-item nav-link">Mosque</a>
                            <a href="@Url.Action("Prayer","Home")" class="nav-item nav-link">Prayer</a>
                            <a href="@Url.Action("Event","Home")" class="nav-item nav-link">Events</a>
                            <a class="nav-item nav-link" href="@Url.Action("Volunteer","Home")">Volunteer</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sub-Projects</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="dropdown-item" data-toggle="dropdown">Darul-Uloom<i class="fa fa-caret-down navbaritem"></i></a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li><a href="@Url.Action("Teaching","Home")" class="dropdown-item">Teaching Quran </a></li>
                                            <li><a href="@Url.Action("School","Home")" class="dropdown-item">Islamic School</a></li>


                                        </ul>
                                    </li>

                                    <li>
                                        <a href="" class="dropdown-item">Islamic Services<i class="fa fa-caret-down navbaritem"></i></a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a href="@Url.Action("Translation","Home")" class="dropdown-item">Translation Services</a>

                                            </li>
                                            <li>
                                                <a href="@Url.Action("DeadRelative","Home")" class="dropdown-item">Islamic Funeral</a>

                                            </li>
                                            <li><a href="@Url.Action("Marriage","Home")" class="dropdown-item">Marriage Ceremony</a></li>

                                            <li><a href="@Url.Action("Slaughterhouse","Home")" class="dropdown-item">Halal Slaughter House</a></li>
                                            <li>
                                                <a href="@Url.Action("Gym","Home")" class="dropdown-item">GYM</a>

                                            </li>

                                        </ul>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Library","Home")" class="dropdown-item">Islamic Library<i class="navbaritem"></i></a>

                                    </li>
                                </ul>


                            </div>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Features</a>
                                <div class="dropdown-menu">
                                    <a href="@Url.Action("Team","Home")" class="dropdown-item">Team</a>

                                    <a href="@Url.Action("SupportUs","Home")"  class="dropdown-item">SupportUs</a>
                                </div>
                            </div><a href="@Url.Action("About","Home")" class="nav-item nav-link">About</a>
                            <a href="@Url.Action("Contact","Home")" class="nav-item nav-link">Contact</a>
                        </div>
                </div>
            </div>
            <!-- Nav Bar End -->
            <!--<div class="row">
        <div class="tab-post">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="@Url.Action("IndexCustomer","Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("Mosque","Home")">Mosque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("Prayer","Home")">Prayer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("Event","Home")">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("Volunteer","Home")">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("Team","Home")">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("About","Home")">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("Contact","Home")">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="@Url.Action("SupportUs","Home")">SupportUs</a>
                </li>

            </ul>


        </div>-->
        

            <!--<a href="https://gofund.me/e25a0e41" class="btn bt1-warning">GoFundMe</a>
        <a href="@Url.Action("Login","Home")" id="login" class="nav-item nav-link fa fa-user" title="Admin login"></a>

    </div>-->
        </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    @RenderBody()


    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <h2>Our Head Office</h2>
                        <p style="font-size:smaller">
                            <i class="fa fa-map-marker-alt text-warning"></i><b>Haus des Schutzes:</b>Darul-Aman
                            <br />
                            <label style="margin:0 1rem" class="option-hover"> Magdeburg, Germany</label>
                        </p>
                        <p style="font-size:smaller"><i class="fa fa-map-marker-alt text-warning"></i><b>Haus des Schutzes:</b> Darul-Aman Magdeburg, Germany </p>
                        <p><i class="fa fa-phone-alt text-warning"></i>@db.tbl_Institute.Select(x => x.INSTITUTE_CONTACT).FirstOrDefault()</p>
                        <p><i class="fa fa-envelope text-warning"></i>@db.tbl_Institute.Select(x => x.INSTITUTE_EMAIL).FirstOrDefault()</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="@Url.Action("About","Home")">About Us</a>
                        <a href="@Url.Action("Contact","Home")">Contact Us</a>
                        <a href="@Url.Action("Event","Home")">Upcoming Events</a>
                        <a href="@Url.Action("Team","Home")">Our Team</a>
                        <a href="@Url.Action("GeneralRegistration","Home")">
                            To meet your community <br />
                            <label style="margin:0 1rem" class="option-hover">Click Here</label>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="@Url.Action("Termsofuse","Home")">Terms of use</a>
                        <a href="@Url.Action("PrivacyPolicy","Home")">Privacy policy</a>

                        <a href="@Url.Action("FAQs","Home")">FAQs</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="@Url.Action("IndexCustomer","Home")">Darul Aman</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="@Url.Action("About","Home")">PakiExperts </a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->
    <!-- Back to top button -->
    <a href="#" class="back-to-top" style="display: inline;"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Customer/lib/easing/easing.min.js"></script>
    <script src="~/Content/Customer/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/Customer/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/Customer/lib/counterup/counterup.min.js"></script>
    <script src="~/Content/Customer/lib/parallax/parallax.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/Customer/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/Customer/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/Customer/js/main.js"></script>
</body>
</html>

<script>
    $(".custom-select").each(function () {
        var classes = $(this).attr("class"),
            id = $(this).attr("id"),
            name = $(this).attr("name");
        var template = '<div class="' + classes + '">';
        template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
        template += '<div class="custom-options">';
        $(this).find("option").each(function () {
            template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
        });
        template += '</div></div>';

        $(this).wrap('<div class="custom-select-wrapper"></div>');
        $(this).hide();
        $(this).after(template);
    });
    $(".custom-option:first-of-type").hover(function () {
        $(this).parents(".custom-options").addClass("option-hover");
    }, function () {
        $(this).parents(".custom-options").removeClass("option-hover");
    });
    $(".custom-select-trigger").on("click", function () {
        $('html').one('click', function () {
            $(".custom-select").removeClass("opened");
        });
        $(this).parents(".custom-select").toggleClass("opened");
        event.stopPropagation();
    });
    $(".custom-option").on("click", function () {
        $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
        $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
        $(this).addClass("selection");
        $(this).parents(".custom-select").removeClass("opened");
        $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
    });
</script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
    }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
    .goog-te-gadget {
        font-family: arial;
        font-size: 11px;
        color: transparent;
        white-space: nowrap;
    }

    .goog-te-combo, .VIpgJd-ZVi9od-ORHb *, .VIpgJd-ZVi9od-SmfZ *, .VIpgJd-ZVi9od-xl07Ob *, .VIpgJd-ZVi9od-vH1Gmf *, .VIpgJd-ZVi9od-l9xktf * {
        font-family: cursive;
        font-size: 10pt;
    }

    .goog-te-gadget .goog-te-combo {
        margin-top: 7px;
        padding: 5px 5px;
    }

    .goog-te-gadget img {
        display: none;
    }

    .VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
        display: none;
    }
</style>
@*<div>
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement
                    ({
                        pageLanguage: 'en',
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                    },
                        'google_translate_element');
            }
        </script>
        <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">

        </script>
    </div>*@  