@model DarulAman.Models.tbl_DeadRelative

@{
    ViewBag.Title = "Details";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p class="heading" align="center">Funeral Registration</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            FIRST_NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            LAST_NAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            CONTACT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACT)
        </dd>

        <dt>
            EMAIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            RELATION_WITH_DEAD
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RELATION_WITH_DEAD)
        </dd>

        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            DATE_OF_FUNERAL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_OF_FUNERAL)
        </dd>

        <dt>
            ORIGIN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORIGIN)
        </dd>

        <dt>
            MESSAGE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>

        <dt>
            CONDITION
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONDITION)
        </dd>

        <dt>
            DATE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE)
        </dd>

    </dl>
</div>
<div align="center">
    <button class="indexback">@Html.ActionLink("Back to List", "Index") </button> |
    <a href="@Url.Action("Edit", "tbl_Book", new { id = Model.FUNERAL_ID})" class="custombtn">Edit</a>
</div>
