@model IEnumerable<DarulAman.Models.tbl_DeadRelative>
@using DarulAman.Models
@{
    Model1 db = new Model1();
    ViewBag.Title = "Details";
}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var o in Model)
{
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Late Person's Relative</h2>
                            </div>
                        </div>
                        <div class="table_section padding_infor_info">
                            <div class="table-responsive-sm">
                                <table class="table table-active table-bordered">

                                    <tr>

                                        <th>
                                            FIRST_NAME
                                        </th>
                                        <th>
                                            LAST_NAME
                                        </th>
                                        <th>
                                            CONTACT
                                        </th>
                                        <th>
                                            EMAIL
                                        </th>
                                        <th>
                                            RELATION_WITH_DEAD
                                        </th>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            DATE_OF_FUNERAL
                                        </th>
                                        <th>
                                            ORIGIN
                                        </th>
                                        <th>
                                            MESSAGE
                                        </th>
                                        <th>
                                            CONDITION
                                        </th>
                                        <th>
                                            DATE
                                        </th>

                                    </tr>
                                    <tr>
                                        <td>
                                            @o.FIRST_NAME
                                        </td>
                                        <td>
                                            @o.LAST_NAME
                                        </td>
                                        <td>
                                            @o.CONTACT
                                        </td>
                                        <td>
                                            @o.EMAIL
                                        </td>
                                        <td>
                                            @o.RELATION_WITH_DEAD
                                        </td>
                                        <td>
                                            @o.ID
                                        </td>
                                        <td>
                                            @o.DATE_OF_FUNERAL
                                        </td>
                                        <td>
                                            @o.ORIGIN
                                        </td>
                                        <td>
                                            @o.MESSAGE
                                        </td>
                                        <td>
                                            @o.CONDITION
                                        </td>
                                        <td>
                                            @o.DATE
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------Late person------------------------------>
    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Late Person Information</h2>
                            </div>
                        </div>
                        <div class="table_section padding_infor_info">
                            <div class="table-responsive-sm">
                                <table class="table table-active table-bordered">
                                    <tr>

                                        <th>
                                            CONTACTED PRSON
                                        </th>
                                        <th>
                                            FIRST_NAME
                                        </th>
                                        <th>
                                            LAST_NAME
                                        </th>
                                        <th>
                                            AGE
                                        </th>
                                        <th>
                                            GENDER
                                        </th>
                                        <th>
                                            DATE_OF_DEATH
                                        </th>
                                        <th>
                                            STATUS
                                        </th>
                                        <th>
                                            DATE
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var od in o.tbl_Decreased)
                                    {

                                        <tr>


                                            <td>
                                                @od.FIRST_NAME
                                            </td>
                                            <td>
                                                @od.LAST_NAME
                                            </td>
                                            <td>
                                                @od.AGE
                                            </td>
                                            <td>
                                                @od.GENDER
                                            </td>
                                            <td>
                                                @od.DATE_OF_DEATH
                                            </td>
                                            <td>
                                                @od.STATUS
                                            </td>
                                            <td>
                                                @od.DATE
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div align="center">
        <button class="indexback">@Html.ActionLink("Back to List", "Index") </button> 
    
    </div>
}